div.view-anime{
    padding: 3rem 18rem;
    background-color: #3027271f;

}
.view-anime h1{
    display: inline-block;
    font-size: 4rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    /* background: linear-gradient(to left, #f800f8, #a37bc0); */
    background: linear-gradient(to left, #1b181b92, #0b000b);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .4s ease-in-out;
    &:hover{transform: skew(-4deg);}

}
.view-anime h1 :hover{
  color: #f811f8;
}

p.desc{
    font-size: 19px;
    margin-top: 3rem ;
    color: #395469;
    font-weight: bolder;
    line-height: 1.7rem;
}
p.desc button{
    background-color: transparent;
    border-radius: 35px;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #c618b4;

}
.details{
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    border: 2px solid  #0b3c6158;
}

.detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img-view-anime img{
    border-radius: 30px;
    width: 62%;
    height: 95%;
}
p span:first-child{
    color: #0e295c;
    font-weight: 700;
    
}
.anime-det{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 600;
    color: #395469;
}
.anime-det p{
    display: flex;
    gap: 1rem;
    
}
.trailer-con{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.trailer-con iframe{
    outline: none;
    background: #fff;
    border: 2px solid #39546971;
    padding: 1rem;
    height: 32rem;
}

iframe{
    border-radius: 35px;
}

div .chars{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-gap: 1.9rem;
    background: #ffff;
    padding: 2rem;
    border-radius: 30px;
    border: 2px solid #39546971;
    
}
div .view-chars img{
    border-radius: 20px;
}
div .view-chars h3{
    color: #8a36c5;
    font-weight: 600;
}
div .view-chars h5{
    color: #c433bd;
    font-weight: 500;
}
p span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
  }
  
  button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  button:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    transition: 0.5s;
  }

/* button:hover{
    background-color: rgba(255, 19, 243, 0.851);
    border-radius: 20px;
} */
#view-btn{
    border: 3px solid black;
 
}
.butons {
    display: flex;
    width: 30%;
   
  
}
a {
    text-decoration: none;
    color: black;
}ƒ
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    /* padding: 10px 25px; */
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
   }
   
   .btn-1 {
    background: rgb(139, 67, 147);
    background: linear-gradient(0deg, rgb(134, 29, 148) 0%, rgb(133, 0, 250) 100%);
    border: none;
    
   }
   
   .btn-1:before {
    height: 0%;
    width: 2px;
   }
   
   .btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                 -4px -4px 6px 0 rgba(116, 125, 136, .5), 
       inset -4px -4px 6px 0 rgba(255,255,255,.2),
       inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
   }

